html, body, h1, h2, h3, h4, h5, p, ol, ul, li, a, image, iframe, form, label, input, textarea, button, table, tr, td, div {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  text-decoration: none;
  color: #434343;
  outline: none;
}

body {
  font-size: 20px;
}
body header {
  background-color: #fff;
  padding: 28px 0 8px 0;
  text-align: center;
  position: relative;
  margin: 0 30px;
  box-shadow: 0 20px 15px -25px #bbb;
  margin-bottom: 9px;
}
body header .title a {
  color: red;
  font-family: "Fredericka the Great", cursive;
  font-size: 24px;
}
body nav {
  top: 0;
}
body nav #select {
  font-size: 18px;
  padding: 5px 50px;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
}
body nav #select #author-select {
  font-size: 16px !important;
  background-color: #fff;
}
body nav #select #author-select option {
  font-weight: bold;
}
body main {
  margin-top: 10px;
  padding: 42px 30px;
  background: linear-gradient(90deg, white, #EEE, #DDD, #EEE, white);
  background-position: center;
}
body main section {
  padding: 10%;
  background-color: #333;
  position: relative;
  z-index: 0;
  border: 6px solid #BB9955;
  border-bottom: 15px solid tan;
}
body main section #text {
  font-size: 18px;
}
body main section #author {
  font-size: 16px;
}
body main section a {
  margin-top: 60px;
}
body main section a span {
  font-family: sans;
}
body main section p {
  font-family: 'Special Elite', cursive;
  font-weight: bold;
  color: #EEE;
  text-align: center;
}
body main #base {
  height: 6px;
  background-color: #BB9955;
}

@media only screen and (min-width: 640px) {
  body nav #select {
    padding: 5px 5px;
  }
  body main {
    padding: 42px 10%;
  }
}
@media only screen and (min-width: 1000px) {
  body {
    padding: 0 10%;
  }
  body nav #select {
    padding: 10px 10px;
  }
  body nav #select #author-select {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1360px) {
  nav {
    padding: 15px 15px;
  }
  nav #select {
    font-size: 22px;
    padding: 15px 15px;
  }
}
