html, body, h1, h2, h3, h4, h5, p, ol, ul, li, a, image, iframe, form, label, input, textarea, button, table, tr, td, div {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  text-decoration: none;
  color: #434343;
  outline: none;
}

body {
  font-size: 20px;
}
body .sticky {
  position: sticky;
}
body header {
  background-color: #fff;
  padding: 28px 0 8px 0;
  text-align: center;
  position: relative;
  margin: 0 30px;
  box-shadow: 0 20px 15px -25px #bbb;
  margin-bottom: 9px;
}
body header .title a {
  color: red;
  font-family: Righteous, cursive;
  font-size: 24px;
}
body header .title a #xpt {
  font-family: sans;
}
body nav.sticky {
  top: 0;
  z-index: 1;
  background-color: #FFF;
  text-align: center;
  position: relative;
  margin-top: 30px;
}
body nav.sticky #select {
  font-size: 18px;
  padding: 5px 50px;
  display: inline;
  text-align: center;
}
body nav.sticky #select #author-select {
  font-size: 16px;
}
body main {
  margin-top: 10px;
  padding: 42px 30px;
  background: linear-gradient(90deg, white, #EEE, #DDD, #EEE, white);
  background-position: center;
}
body main section {
  padding: 10%;
  background-color: #333;
  position: relative;
  z-index: 0;
  border: 6px solid #BB9955;
  border-bottom: 15px solid tan;
}
body main section #text {
  font-size: 18px;
}
body main section #author {
  font-size: 16px;
}
body main section a {
  margin-top: 60px;
}
body main section a span {
  font-family: sans;
}
body main section p {
  font-family: 'Special Elite', cursive;
  font-weight: bold;
  color: #EEE;
  text-align: center;
}
body main #base {
  height: 6px;
  background-color: #BB9955;
}

@media only screen and (min-width: 640px) {
  body nav.sticky #select {
    padding: 5px 5px;
  }
  body main {
    padding: 42px 10%;
  }
  body main .intro {
    height: 60vmin;
  }
}
@media only screen and (min-width: 1000px) {
  body {
    padding: 0 10%;
  }
  body nav.sticky ul {
    padding: 10px 10px;
    font-size: 20px;
  }
  body nav.sticky ul #select {
    padding: 10px 10px;
    font-family: Arial, sans;
  }
  body nav.sticky ul #select #select-label {
    font-family: Righteous, cursive;
  }
  body nav.sticky ul #select #author-select {
    font-size: 18px;
  }
  body nav.sticky ul a {
    padding: 10px 10px;
  }
  body main .intro {
    height: 45vmin;
  }
}
@media only screen and (min-width: 1360px) {
  nav.sticky {
    padding: 15px 15px;
  }
  nav.sticky #select {
    font-size: 22px;
    padding: 15px 15px;
  }
}
